@import 'var';

.box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 60px;
    background-color: #fff;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    a {
        display: flex;
        cursor: pointer;
        color: #555;
        text-decoration: none;

        svg {
            display: inline;
        }

        &:hover {
            color: #000;
        }
    }
}

.side {
    position: fixed;
    top: 60px;
    left: -300px;
    background: #fff;
    border-right: 1px solid #eee;
    width: 300px;
    height: calc(100% - 120px);
    transition: transform 0.5s ease;
    padding: 0 15px 15px 15px;
    overflow-y: auto;

    &.isOpen {
        transform: translate(300px);
    }
}