@import 'var';

.box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #eee;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.88);
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    a {
        display: flex;
        cursor: pointer;
        color: #555;
        text-decoration: none;

        svg {
            display: inline;
        }

        &:hover {
            color: #000;
        }
    }
}

.side {
    position: fixed;
    top: 0;
    right: -300px;
    background: #eef0f5;
    border-left: 1px solid #ddd;
    width: 300px;
    height: 100vh;
    transition: transform 0.5s ease;
    padding: 60px 15px 0 15px;

    &.isOpen {
        transform: translate(-300px);
    }
}