@import 'var';

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink .8s infinite;
}

body {
    background-color: $COLOR_DEFAULT_BACKGROUND;
    color: #333;
    line-height: 1.5;
    word-break: keep-all;
    letter-spacing: -0.3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Spoqa Han Sans Neo', sans-serif;
}

input, button, textarea {
    color: #333;
    line-height: 1.5;
    word-break: keep-all;
    letter-spacing: -0.3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Spoqa Han Sans Neo', sans-serif;
}

.container {
    padding: 0 16px;
    margin: 0 auto;
    width: 720px;
    max-width: 100%;
    height: 100%;
}

.mt-3 {
    margin-top: 1rem;
}

.p-3 {
    padding: 1rem;
}