@import 'var';

.box {
    background-color: rgba(255, 255, 255, 0.35);
    border-top: 1px solid #eee;
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 60px;
    width: 100%;

    .input-group {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        input, button {
            border-radius: 100px;
            padding: 12px 24px;
            outline: none;
            border: none;
            max-width: 100%;
            overflow: hidden;
        }
    
        button {
            background-color: $COLOR_DEFAULT_PRIMARY;
        }
    
        input {
            margin-right: 8px;
            flex: 1;
        }
    }
}